-r requirements-lint.txt
-r requirements.txt
modelscope
openai
pytest >= 6.0
pytest-asyncio
pytest-mock
lm-eval==0.4.8
types-jsonschema
xgrammar
zmq
types-psutil
pytest-cov
regex
sentence_transformers
ray>=2.47.1
protobuf>3.20.0
librosa 
soundfile
