-r requirements-lint.txt
-r requirements.txt
modelscope
openai
pytest >= 6.0
pytest-asyncio
pytest-mock
lm-eval[api] @ git+https://github.com/EleutherAI/lm-evaluation-harness.git@206b7722158f58c35b7ffcd53b035fdbdda5126d 
types-jsonschema
xgrammar
zmq
types-psutil
pytest-cov
regex
sentence_transformers
ray>=2.47.1
protobuf>3.20.0
librosa 
soundfile
pytest_mock