-r requirements-lint.txt
-r requirements.txt
modelscope
openai
pytest >= 6.0
pytest-asyncio
pytest-mock
lm-eval
types-jsonschema
xgrammar
zmq
types-psutil
pytest-cov
regex
sentence_transformers
ray>=2.47.1
protobuf==4.25.6
librosa 
soundfile
